{{!-- {{title "Toezicht ABB"}} --}}
{{!-- {{wu-widget src=header class="vo-header-widget"}} --}}
<div class="grid grid--collapse">
  <div class="{{if hasActiveChildRoute "col--7-12 u-hidden--tablet-portrait-up u-visible--tablet-landscape-up" "col--12-12"}}">
    <div class="container-flex--contain">
      <div class="u-border--fat--bottom u-hide-on-print">
        <div class="u-padding--round--small">
          <div class="grid">
            <div class="col--6-12 col--1-1--s">
              <h1 class="h2 u-spacer--right--small u-display-inline-block">
	              Formulieren bouwer
	            </h1>
						</div>
            <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up u-align-right--tablet-portrait-up">
            	<div class="button-group">
	            	{{#link-to "forms-archive" class="button button--narrow button--alt"}}
	            		<i class="fa fa-archive"></i>Bekijk archief
	            	{{/link-to}}
	            	{{#link-to "form-builder.form-builder-new" class="button button--narrow"}}
	            		Maak nieuw formulier
	            	{{/link-to}}
	            </div>
            </div>

            <div class="col--1-1">
							<div class="u-display--inline-block u-spacer--right">
								<label class="form__label form__label--block" for="select-remote-custom">Filter op bestuurseenheid</label>
								<div class="input-field-icon-container--right">
									<input class="input-field input-field--block" id="input-field" type="text" placeholder="(dropdown met search en multi-select)">
									<i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
								</div>
							</div>
{{!-- 							</div>
							<div class="u-spacer--tiny"> --}}
								{{!-- <div> --}}
									<label class="pill pill--checkable u-spacer--right--tiny" for="checkbox-1">
										<input type="checkbox" name="checkbox1" id="checkbox-1" class="pill--checkable__checkbox" value="1" checked>
										<span></span> Gemeente
									</label>
									<label class="pill pill--checkable u-spacer--right--tiny" for="checkbox-2">
										<input type="checkbox" name="checkbox2" id="checkbox-2" class="pill--checkable__checkbox" value="2" checked>
										<span></span> District
									</label>
									<label class="pill pill--checkable u-spacer--right" for="checkbox-3">
										<input type="checkbox" name="checkbox3" id="checkbox-3" class="pill--checkable__checkbox" value="3">
										<span></span> Provincie
									</label>
									<label class="pill pill--checkable u-spacer--right--tiny" for="checkbox-4">
										<input type="checkbox" name="checkbox4" id="checkbox-4" class="pill--checkable__checkbox" value="4">
										<span></span> {{!-- Intergemeentelijke samenwerking ( --}}IGS{{!-- ) --}}
									</label>
									<label class="pill pill--checkable u-spacer--right--tiny" for="checkbox-5">
										<input type="checkbox" name="checkbox5" id="checkbox-5" class="pill--checkable__checkbox" value="5">
										<span></span> {{!-- Hulpverleningszone ( --}}HVZ{{!-- ) --}}
									</label>
									<label class="pill pill--checkable u-spacer--right" for="checkbox-6">
										<input type="checkbox" name="checkbox6" id="checkbox-6" class="pill--checkable__checkbox" value="6">
										<span></span> {{!-- Politiezone ( --}}PZ{{!-- ) --}}
									</label>
									<label class="pill pill--checkable u-spacer--right--tiny" for="checkbox-7">
										<input type="checkbox" name="checkbox7" id="checkbox-7" class="pill--checkable__checkbox" value="7">
										<span></span> {{!-- Openbaar Centrum voor Maatschappelijk Welzijn ( --}}OCMW{{!-- ) --}}
									</label>
									<label class="pill pill--checkable u-spacer--right" for="checkbox-8">
										<input type="checkbox" name="checkbox8" id="checkbox-8" class="pill--checkable__checkbox" value="8">
										<span></span> {{!-- Openbaar Centrum voor Maatschappelijk Welzijn Vereniging ( --}}OCMWV{{!-- ) --}}
									</label>
									<label class="pill pill--checkable u-spacer--right--tiny" for="checkbox-7">
										<input type="checkbox" name="checkbox7" id="checkbox-7" class="pill--checkable__checkbox" value="7">
										<span></span> AGB
									</label>
									<label class="pill pill--checkable u-spacer--right--tiny" for="checkbox-8">
										<input type="checkbox" name="checkbox8" id="checkbox-8" class="pill--checkable__checkbox" value="8">
										<span></span> APB
									</label>

								{{!-- </div> --}}
							{{!-- </div> --}}
            </div>

          </div>
        </div>
      </div>
      <div class="container-flex--scroll data-table-content">
      	<table class="data-table">
      		<thead>
      			<tr class="data-table__header">
	      			<th class="u-visible--tablet-landscape-up sortable">
	      				<a class="data-table__header-title--sortable ">
	      					Besluitenlijst
	      					<span class="u-visually-hidden">Aflopend sorteren</span>
	      					<i class="data-table__header-title__sort-icon vi-u-link-after vi-u-180deg vi-long-arrow vi"></i>
	      				</a>
	      			</th>
	      			<th class="u-visible--tablet-landscape-up sortable">
	      				<a class="data-table__header-title--sortable ">
		      				Omschrijving
		      				<span class="u-visually-hidden">Aflopend sorteren</span>
		      				<i class="data-table__header-title__sort-icon vi-u-link-after vi-u-180deg vi-long-arrow vi"></i>
		      			</a>
		      		</th>
		      		<th class="u-visible--tablet-portrait-up sortable">
		      			<a class="data-table__header-title--sortable ">
			      			Type besluit
			      			<span class="u-visually-hidden">Aflopend sorteren</span>
			      			<i class="data-table__header-title__sort-icon vi-u-link-after vi-u-180deg vi-long-arrow vi"></i>
			      		</a>
			      	</th>
				      <th class="sortable">
			      		<a class="data-table__header-title--sortable ">
							 		Status
							    <span class="u-visually-hidden">Aflopend sorteren</span>
							    <i class="data-table__header-title__sort-icon vi-u-link-after vi-u-180deg vi-long-arrow vi"></i>
								</a>
							</th>
							<th class="u-hide-on-print"><!-- Actions --></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Besluitenlijst</td>
							<td style="max-width: 250px;">
								Besturen sturen een besluitenlijst uit
								<p class="u-spacer--top--tiny">
									<span class="pill pill--small">Gemeente</span>
									<span class="pill pill--small">District</span>
								</p>
							</td>
							<td>
								Besluitenlijst
				      </td>
				      <td>
				      	<label class="pill">Concept</label>
				      </td>
			      	<td class="u-hide-on-print u-align-right--tablet-portrait-up">
				      	{{#link-to "form-builder.form-builder-blank" class="button button--narrow button--alt button--alt--blue button--link u-spacer--right--small"}}
				      		<i class="fa fa-copy button__icon"></i>
				      	{{/link-to}}
				      	{{#link-to "form-builder.form-builder-blank"}}Bewerk{{/link-to}}
				      </td>
			      </tr>
						<tr>
							<td>Besluitenlijst</td>
							<td style="max-width: 250px;">
								Besturen sturen een besluitenlijst uit
								<p class="u-spacer--top--tiny">
									<span class="pill pill--small">Gemeente</span>
									<span class="pill pill--small">District</span>
								</p>
							</td>
							<td>
								Besluitenlijst
				      </td>
				      <td>
				      	<label class="pill pill--primary-blue">Publiek</label>
				      </td>
			      	<td class="u-hide-on-print u-align-right--tablet-portrait-up">
				      	{{#link-to "form-builder.form-builder-blank" class="button button--narrow button--alt button--alt--blue button--link u-spacer--right--small"}}
				      		<i class="fa fa-copy button__icon"></i>
				      	{{/link-to}}
				      	{{#link-to "form-builder.form-builder-blank"}}Bewerk{{/link-to}}
				      </td>
			      </tr>
			    </tbody>
			  </table>
			</div>

	    {{!-- {{toezicht/inzendingen-table class="container-flex--contain" model=model isLoading=isLoadingModel sort=sort page=page size=size displaySubset=hasActiveChildRoute}} --}}
    </div>
  </div>
  {{outlet}}
</div>
